# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / Build outputs
dist/
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
