/* html-deck.reset.css - Minimal CSS Reset for HTML-Deck */

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

hd-deck,
hd-deck *,
hd-deck *:before,
hd-deck *:after {
  box-sizing: border-box;
}
